/*FONTS*/

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/normal/raleway-regular-webfont.eot');
    src: url('../fonts/normal/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/normal/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/normal/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/normal/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/bold/raleway-bold-webfont.eot');
    src: url('../fonts/bold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/bold/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/bold/raleway-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/*MAIN STYLES*/

* {
	font-family: "ralewayregular", Arial, sans-serif;
}

.mainWidth {
	width: 1055px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.colorWord {
	color: #26c7a9;
	font-family: "ralewaybold", Arial, sans-serif;
}

/*HEADER*/

header {
	background-color: black;
	height: 40px;
	margin: 0 auto;
}

header h1 {
	font-size: 13px;
	color: white;
	float:left;
	text-transform: uppercase;
	margin-top: 15px;
}

.navBar {
	float: right;
	margin-top: 10px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}

.navBar li {
	display: inline-block;
	padding-right: 30px;
	font-size: 12px;
	font-weight: bold;
}

#aboutUs {
	display: none;
	position: absolute;
	top: 40px;
	left: 20px;
	background-color: black;
	border-style: solid;
	list-style: none;
	margin: 0;
	padding: 0;
	
}

#aboutUs > li {
	color: white;
	display: block;
	text-transform: capitalize;
	font-size: 15px;
	text-align: left;
	font-weight: 200;
	margin: 7px;
	float: none;
	padding-right: 0;
}

#aboutUs li:first-child a:after {
	content: '';
	position: absolute;
	left: 30px;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 10px solid black;
}

header a {
	color: white;
}


/*SLIDER SECTION*/

.slider {
	background: #cbcfd4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #cbcfd4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #cbcfd4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #cbcfd4); /* For Firefox 3.6 to 15 */
    clear: both;
}


.slider div {
	display: inline-block;
	vertical-align: top;
}

.box1, .box4 {
	width:40px;
	margin-top: 160px;
}


.box2, .box3 {
	width: 400px;
	margin-top: 80px;
	margin-bottom: 25px;
}


.box3{
	margin-left: 60px;
}

.box4 {
	margin-left: 60px;
}


#sliderContainer ul {
	list-style: none;
}

#sliderContainer li {
	display: none;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}


#sliderContainer .visible {
	display: inline-block;
}


.arrow {
	color: #29b49f;
	font-size: 70px;
	cursor: pointer;
}

.slider h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 35px;
	width: 380px;
}

.sliderText {
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	width: 380px;
	margin-bottom: 40px;
}

.buttonSlider {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	width: 200px;
	height: 30px;
	padding: 8px 30px;
	background-color: #24ba9f;
	border-radius: 10px;
	margin-left: 80px;
	color: white;
}

/*PRODUCTS SECTION*/

.productsImg, .productsText {
	display:inline-block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}

.products img {
	width: 320px;
	height: 230px;
	margin-right: 30px;
}

.transparentStripe {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0px;
	bottom: 20px;
	display: block;
	width: 100%;
}

.transparentStripe h3, .productsText h3 {
	border-bottom: 7px solid #22b89f;
	font-size: 15px;
	width: 45%;
	margin-left: 10px;
	color: black;
}

.productsText {
	border: 1px solid #cbcfd4;
	height: 260px;
	width: 320px;
}

.productsText p {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 14px;
	color: #969696;
	line-height: 20px;
}

/*PRICES SECTION*/
.prices {
	background-color: #f1f1f1;
}

.prices h3 {
	border-bottom: 7px solid #22b89f;
	width: 330px;
	color: #565656;
	text-transform: uppercase;
	padding-top: 40px;
}

.pricePlans {
    border: 2px solid #c6c6c6;
    width: 330px;
    height: 500px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: #f9f9f9;
    color: #c2c2c2;
}

.standardPlan {
	background-color: #13c39d;
	border: 2px solid #13c39d;
	margin-left: 10px;
	margin-right: 10px;
}

.outerCircle {
    width: 60px;
    height: 60px;
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 130px;
    background-color: white;
}

.standardPlan .outerCircle {
	border: 2px solid #13c39d;
	background-color: #13c39d;
}

.innerCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c6c6c6;
    margin-top: 15px;
    margin-left: 15px;

}

.standardPlan .innerCircle {
	background-color: white;
}

.pricePlans p {
	text-transform: uppercase;
	margin-top: 40px;
	text-align: center;
	font-size: 20px;
	color: #13c39d;
	font-weight: bold;
}

.standardPlan p {
	color: white;
}

.circle {
	width: 130px;
	height: 130px;
	border: 1px solid #cbcfd4;
    border-radius: 50%;
    margin-left:90px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    
}

.priceNumber {
	font-family: "ralewaybold";
	display: block;
	padding: 7px;
	font-size: 40px;
	margin-top: 20px;
}

.standardPlan .priceNumber, .standardPlan .priceUnit {
	color: #13c39d;
}

.priceNumber sup {
	font-size: 10px;
	font-weight: bold;
}

.priceUnit {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.pricesButton {
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	width: 80px;
	height: 18px;
	padding: 5px 30px;
	border-radius: 10px;
	margin-left: 90px;
	margin-top: 30px;
	display: inline-block;
	vertical-align: middle;

}

.basicPlan .pricesButton, .advancePlan .pricesButton {
	background-color: #13c39d;
	color: white;
}

.standardPlan .pricesButton {
	background-color: white;
	color: #13c39d;
}

.hidden {
	visibility: hidden;
}

.pricePlans ul {
	list-style: outside none none;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin-top: 30px;
}

.pricePlans ul li {
	font-size: 20px;
	line-height: 40px;
}

.basicPlan li:nth-child(2n+1), .advancePlan li:nth-child(2n+1) {
	background-color: #e4e4e4;
}

.basicPlan li:nth-child(2n+2), .advancePlan li:nth-child(2n+2) {
	background-color: #f1f1f1;
}

.standardPlan li:nth-child(2n+1) {
	background-color: white;
}

.standardPlan li:nth-child(2n+2) {
	background-color: #f1f1f1;
}


/*CONTACT SECTION*/

.contact h3 {
	border-bottom: 7px solid #22b89f;
	width: 330px;
	color: #565656;
	text-transform: uppercase;
	padding-top: 20px;
}

.rightForm, .leftForm {
	display: inline-block;
	vertical-align: top;
}

.rightForm {
	width: 400px;
}

.leftForm {
	width: 630px;
}

input[type="text"], textarea {
	border: 1px solid #a6e3d3;
	padding: 10px;
	margin-top: 20px;
	width: 95%;
	font-size: 30px;
}

::-webkit-input-placeholder {
  	color: rgba(214, 214, 214, 0.9);
  	font-size: 30px;
  	font-weight: 100;
}

	
::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(214, 214, 214, 0.9);
  	font-size: 30px;
  	font-weight: 100; 
}
	
:-ms-input-placeholder {  
	color: rgba(214, 214, 214, 0.9);
  	font-size: 30px;
  	font-weight: 100;  
}


textarea {
	max-width: 630px;
}

.rightForm img {
	margin-left: 80px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 45px;
	height: 45px;
	border: 1px solid #a6e3d3;
	margin-left: 40px;
	background-color: white;
}

input[type="checkbox"]:checked {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../images/form_ok.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

input[type="checkbox"], .checkboxContact label {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
}

.checkboxContact label {
	width: 300px;
	color: #c9c9c9;
  	font-size: 17px; 
}

.contactButton {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-family: "ralewaybold";
	letter-spacing: 2px;
	vertical-align: middle;
	width: 340px;
	height: 60px;
	line-height: 60px;
	margin-left: 40px;
	margin-top: 20px;
	background-color: #24ba9f;
	border-radius: 10px;
	color: white;
	border: none;
}

/*FOOTER SECTION*/

footer {
	padding-top: 60px;
}

.leftFooter {
	color: #969696;
	float: left;
}

.rightFooter {
	float: right;
	width: 400px;
}

.social {
	float: left;
	display: inline-block;
}

.social li {
	display: inline-block;
}

.logo {
	color: #969696;
	font-size: 20px;
	line-height: 30px;
	display: inline-block;
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}

.highlight {
	font-family: "ralewaybold";
}

/*PLANNER SECTION*/

.planner {
	background-color: #f9f9f9;
}

.planner h3 {
	border-bottom: 7px solid #22b89f;
	color: #565656;
	text-transform: uppercase;
	padding-top: 20px;
	width: 28%;
}

.h3left {
	float: left;
}

.h3right {
	float: right;
	text-align: right;
}

.planner form {
	clear: both;
	display: inline-block;
}

.leftPlanner, .middlePlanner, .rightPlanner {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-bottom: 50px;
}

.leftPlanner, .rightPlanner {
	margin-top: 40px;
}

.planner select {
	border: 1px solid #a6e3d3;
	width: 100%;
	font-size: 25px;
	padding: 5px;
	color: rgba(214, 214, 214, 1);
	margin-bottom: 15px;
}

.checkboxPlanner input[type="checkbox"] {
	margin-left: 0;
}

.checkboxPlanner input[type="checkbox"], .checkboxPlanner label {
	display: inline-block;
	vertical-align: bottom;
}

.checkboxPlanner label {
	color: #aaaaaa;
	font-weight: 100;
	font-size: 30px;
}

.middlePlanner img {
	vertical-align: bottom;
	margin-left: 25%;
	text-align: center;
}

.rightPlanner table {
	width: 100%;
	background-color: white;
	margin-left: 100px;
	border-collapse: collapse;
}


.rightPlanner th, .rightPlanner td {
	padding: 10px;
	width: 50%;
}

.rightPlanner th {
	text-align: left;
	font-size: 18px;
	color: #24ba9f;
}

.rightPlanner thead th:nth-child(even), .rightPlanner tbody td:nth-child(even) {
	color: #24ba9f;
	border-left: 1px solid #d5d5d5;
	text-align: right;
}

.rightPlanner td:nth-child(odd) {
	color: #565656;
	text-align: left;
}

.rightPlanner tfoot td {
	border-top: 1px solid #d5d5d5;
	padding-bottom: 20px;
}

.rightPlanner tfoot tr td:first-child {
	text-transform: uppercase;
	border-top: 1px solid #d5d5d5;
	border-left: none!important;
}

.buttonPlanner {
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-family: "ralewaybold";
	letter-spacing: 2px;
	vertical-align: middle;
	width: 280px;
	height: 60px;
	line-height: 60px;
	margin-left: 120px;
	margin-top: 20px;
	background-color: #24ba9f;
	border-radius: 10px;
	color: white;
	border: none;
} 

/*NAPRAWIć CZCIONKI W FIREFOXIE
NAPRAWIć CHECKBOX W FIREFOXIE
SPRAWDZIć INNE PRZEGLąDARKI? --> SAFARI, EDGE, IE*/

